<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="OlssEntities" connectionString="Data Source=BSINB20A020\SQLEXPRESS;Initial Catalog=olss_prod_4_20220719;Persist Security info=True;user id=sa;password=123456Aa!;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <!--View Global Config Test-->
        <add key="IsLocalSiteTest" value="true" />
        <add key="LocalSite" value="http://localhost:" />
        <add key="PublishSite" value="http://localhost/olss_now" />
        <add key="ProductionSite" value="http://dc-olssweb.corp.dipostar.com/olss2" />
        <add key="SeleniumTimeOut" value="120" />
        <add key="LocalSiteRoot" value="D:\Firmansyah\Source Code\OLSS\Publish\CR_Problem" />

        <!--Controller Data Test-->
        <!--S0231698_Phase1-->
        <add key="HistoryUnitMaintenace_LoadHistoryUnitMaintenace_IsValidActServiceDateAndKMData" value="16308#07/31/2019,17279" />
        <add key="HistoryUnitMaintenace_UpdateMTNItemListUpdated" value="16308#Save as Draft#false#04/09/2021#20050#40012,405000,1,40500,0,0,19039*17807,10440,1,1044,0,0,19040*19119,61650,1,6165,0,0,19041*8194,459000,1,45900,0,0,19042*39933,8000,1,800,0,0,19043" />
        <add key="HistoryUnitMaintenace_UpdateMTNItemListDeleted" value="16308#Save as Draft#false#04/09/2021#20050#17807,10440,1,1044,0,0,19040*19119,61650,1,6165,0,0,19041*8194,459000,1,45900,0,0,19042*39933,8000,1,800,0,0,19043" />
        <add key="HistoryUnitMaintenace_UpdateMTNItemListAdded" value="16308#Save as Draft#false#04/09/2021#20050#40012,405000,1,40500,0,0,19039*17807,10440,1,1044,0,0,19040*19119,61650,1,6165,0,0,19041*8194,459000,1,45900,0,0,19042*39933,8000,1,800,0,0,19043*39933,8000,1,800,0,0,0" />
        <add key="MaintenanceSchedule_PrintReportHistoricalMaintenanceDetailByUnit_IsValidData" value="B9104PCH,4D34TJ73152#86#723/ASD/INV/IX/2020#28800000,1927325" />
        <add key="MaintenanceSchedule_PrintReportMTNBudgetControlUnit_AllMaintenanceTypeActiveEndContract_IsValidData" value="2078#4A91GS5910,MK2NCWLANKJ000521,B2476SID#2#0000621/4/01/01/2021,0000064/4/01/11/2014" />
        <add key="MaintenanceSchedule_PrintReportMTNActCost_WithParameter_IsValidData" value="Agreement No#0000533/4/01/09/2020#03/01/2021,03/05/2021#3#1401821000052INV#1#1091530" />

        <!--P0243765-->
        <add key="MaintenanceSchedule_PrintReportMTNActCost_WithAgreementParameter_IsValidData" value="Agreement No#0000533/4/01/09/2020#10#1401821000052INV#1#1091530" />
        <add key="MaintenanceSchedule_PrintReportMTNActCost_WithCustomerNameParameter_IsValidData" value="Customer Name#SICEPAT EKSPRES INDONESIA. PT#1687#015/SJT/INV/VII/2021#1#2472952" />
        <add key="MaintenanceSchedule_PrintReportMTNActCost_WithPayApvDateParameter_IsValidData" value="Payment Approval Dat#08/01/2021,08/05/2021#62#INV/TJMI/0241/VII/2021#4#2717000" />
        <add key="MaintenanceSchedule_PrintReportMTNActCost_WithAgreementPayApvDateParameter_IsValidData" value="Agreement No#0000468/4/01/05/2020#08/01/2021,08/20/2021#2#EUR-2101406#1#1887478" />
        <add key="MaintenanceSchedule_PrintReportMTNActCost_WithCustomerNamePayApvDateParameter_IsValidData" value="Customer Name#ARTA BOGA CEMERLANG. PT#08/01/2021,08/20/2021#2#EUR-2101406#1#1887478" />
        <add key="MaintenanceSchedule_GetOptionItemValues_WithMaintenanceConditionTypeParameter_IsDataFound" value="Full Maintenance Contract Handle By DSF,Full Maintenance Contract Handle By Third Party,CSD Maintenance Contract Handle By DSF,CSD Maintenance Contract Handle By Third Party" />
        <add key="Calculation_GetOptionItemValues_WithMaintenanceConditionTypeParameter_IsDataFound" value="Full Maintenance Contract Handle By DSF,Full Maintenance Contract Handle By Third Party,CSD Maintenance Contract Handle By DSF,CSD Maintenance Contract Handle By Third Party" />
        <add key="HistoryUnitMaintenace_UpdateMTNDtlItemListUpdated" value="16308#Save as Draft#false#04/09/2021#20050#40012,405000,1,40500,0,0,19039*17807,10440,1,1044,0,0,19040*19119,61650,1,6165,0,0,19041*8194,459000,1,45900,0,0,19042*39933,8000,1,800,0,0,19043" />
        <add key="HistoryUnitMaintenace_UpdateMTNDtlItemListDeleted" value="16308#Save as Draft#false#04/09/2021#20050#17807,10440,1,1044,0,0,19040*19119,61650,1,6165,0,0,19041*8194,459000,1,45900,0,0,19042*39933,8000,1,800,0,0,19043" />
        <add key="HistoryUnitMaintenace_UpdateMTNDtlItemListAdded" value="16308#Save as Draft#false#04/09/2021#20050#40012,405000,1,40500,0,0,19039*17807,10440,1,1044,0,0,19040*19119,61650,1,6165,0,0,19041*8194,459000,1,45900,0,0,19042*39933,8000,1,800,0,0,19043*39933,8000,1,800,0,0,0" />
        <add key="HistoryUnitMaintenace_UpdateMTNDtlItemListDeleteAll" value="16308#Save as Draft#false#07/31/2019#17279" />

        <!--S0264484-->
        <add key="BILCreation_UpdateInvoiceReceipt_LoadDataInvoiceDateQtyBeforeUpdate_IsValidData" value="239563,28601/INV/SBY/02/2022,28601/KW/SBY/02/2022,02/07/2022,1" />
        <add key="BILCreation_UpdateInvoiceReceipt_UpdateDataInvoiceDateQtyAndLoadDataAfterUpdate_IsSuccessUpdateAndIsValidData" value="0,239563,02/07/2022,1#4,82118,02/01/2022,2" />
        <add key="BILCreation_ReportInstallmentInvoiceReceive_LoadReportData_IsValidData" value="50183,28601/INV/SBY/02/2022,28601/KW/SBY/02/2022,02/07/2022,03/09/2022,01/08/2022,02/07/2022,4000000,400000,80000" />
        <add key="BILCreation_ReportDetailListInvoiceReceipt_LoadReportData_IsValidData" value="50183,28601/INV/SBY/02/2022,28601/KW/SBY/02/2022,02/07/2022,03/09/2022,01/08/2022,02/07/2022,4000000,400000,80000,B2708SIQ,08/01/2022,07/01/2023,1,1,1" />
        <add key="BILInvoiceMonitor_ReportInstallmentInvoiceReceive_LoadNonGroupReportData_IsValidData" value="50183,28601/INV/SBY/02/2022,28601/KW/SBY/02/2022,02/07/2022,03/09/2022,01/08/2022,02/07/2022,4000000,400000,80000" />
        <add key="BILInvoiceMonitor_ReportDetailListInvoiceReceipt_LoadNonGroupReportData_IsValidData" value="50183,28601/INV/SBY/02/2022,28601/KW/SBY/02/2022,02/07/2022,03/09/2022,01/08/2022,02/07/2022,4000000,400000,80000,B2708SIQ,08/01/2022,07/01/2023,1,1,1" />
        <add key="BILInvoiceMonitor_ReportInstallmentInvoiceReceive_LoadGroupReportData_IsValidData" value="50183,28601/INV/SBY/02/2022,28601/KW/SBY/02/2022,02/07/2022,03/09/2022,01/08/2022,02/07/2022,4000000,400000,80000" />
        <add key="BILInvoiceMonitor_ReportDetailListInvoiceReceipt_LoadGroupReportData_IsValidData" value="50183,28601/INV/SBY/02/2022,28601/KW/SBY/02/2022,02/07/2022,03/09/2022,01/08/2022,02/07/2022,4000000,400000,80000,B2708SIQ,08/01/2022,07/01/2023,1,1,1" />

        <!--P0264761-->
        <add key="MGTComplementUnit_DataGridList_LoadAllData_IsValidData" value="0000392/4/08/10/2020,B0000BCY,MJEC1JG43F5129985,W040TRR25776,1" />
        <add key="MGTComplementUnit_Index_UpdatePoliceNoSTNK_IsSuccess" value="5002,01/17/2022,01/17/2022,8,HITAM,N1111BC" />

        <!--S0266337-->
        <add key="BILCreation_PrintReportContainsPPNLabel_GetPPNValueByInvoiceIssueDate_IsValidData" value="51048,10" />
        <add key="BILInvoiceMonitor_PrintReportContainsPPNLabel_GetPPNValueByInvoiceIssueDate_IsValidData" value="51048,10" />
        <add key="DISAssetSelling_AddDetailEditReportMemo_GetPPNValueByMemoCreatedDate_IsValidData" value="03/25/2022,10" />
        <add key="DISAssetSelling_AddDetailEditReportMemo_GetPPHValueByMemoCreatedDate_IsValidData" value="03/25/2022,2" />
        <add key="MaintenancePaymentApproval_AddEditPaymentApproval_GetPPNValueByPaymentApprovalCreatedDate_IsValidData" value="03/25/2022,10" />
        <add key="MaintenancePaymentApproval_AddEditPaymentApproval_GetPPHValueByPaymentApprovalCreatedDate_IsValidData" value="03/25/2022,2" />
        <add key="HistoryUnitMaintenace_AddEditHistoryUnitMaintenace_GetPPNValueByPaymentApprovalCreatedDate_IsValidData" value="03/25/2022,10" />
        <add key="HistoryUnitMaintenace_AddEditHistoryUnitMaintenace_GetPPHValueByPaymentApprovalCreatedDate_IsValidData" value="03/25/2022,2" />
        <add key="MGTIntegrationMonitor_SendDataToSTGMFAPPL_GetPPNValueByAgrCreatedDate_IsValidData" value="03/25/2022,10" />
        <add key="MGTIntegrationMonitor_SendDataToSTGMFAPPL_GetPPHValueByAgrCreatedDate_IsValidData" value="03/25/2022,2" />
        <add key="MGTPreparationUnit_SendDataToSTGMFAPPL_GetPPNValueByAgrCreatedDate_IsValidData" value="03/25/2022,10" />
        <add key="MGTPreparationUnit_SendDataToSTGMFAPPL_GetPPHValueByAgrCreatedDate_IsValidData" value="03/25/2022,2" />
        <add key="OPLCalculation_AddEditDetail_GetPPNValueByCreatedDate_IsValidData" value="03/25/2022,10" />
        <add key="OPLCalculation_AddEditDetail_GetPPHValueByCreatedDate_IsValidData" value="03/25/2022,2" />
        <add key="OPLCalculation_AddEditDetail_GetWithholdingValueByCreatedDate_IsValidData" value="03/25/2022,15" />
        <add key="PurchaseOrder_AddDetailEditReport_GetPPNValueByCreatedDate_IsValidData" value="03/25/2022,10" />
        <add key="SKD_AddDetailEditReport_GetPPNValueByCreatedDate_IsValidData" value="03/25/2022,10" />
        <add key="SKD_AddDetailEditReport_GetPPHValueByCreatedDate_IsValidData" value="03/25/2022,2" />

        <!--View Data Test-->
        <!--TestCICD-->
        <add key="A_AccountLogin_View_PlaceholderPassword_IsValidText" value="Your Password Here" />

        <!--P0270367_P0270355_P0265586_P0270362_P0274263-->
        <add key="A_P0270367_P0270355_P0265586_P0270362_P0274263_IsProblemSolve" value="true,true,true,true,true,true" />
        <add key="OLSS_LoginAccount" value="D:\olss\OLSS_Login.txt" />
        <add key="OLSS_P0274263_CalculationDate" value="00132/OCN/01/03/2022,6355,05/31/2022" />
        <add key="OLSS_P0270355_PrintSKD" value="0000513/4/01/03/2020,1766" />
        <add key="OLSS_P0270355_PrintSKD_IsBefore" value="false" />
        <add key="OLSS_P0270367_SaveDraftBAST" value="0000451/4/10/04/2022,Outstanding 3,outstanding3" />
        <add key="OLSS_P0270362_InvoiceDNCNCBRD" value="30642/INV/JKC/03/2022,52225,Rp. 11.113.200,Rp. 10.290.000" />
        <add key="OLSS_P0270362_InvoiceDNCNCBRD_IsBefore" value="false" />
        <add key="OLSS_P0265586_RePrintInvoice_IsBefore" value="false" />

    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
