@{
    ViewBag.Title = "Home";
}

<div class="panel animated fadeInDownBig">
    <div class="panel-body">
        <article class="media">
            <div class="pull-left">
                <span class="fa fa-stack fa-2x">
                    <i class="fa fa-circle text-danger fa-stack-2x"></i>
                    <i class="fa fa-bars text-white fa-stack-1x"></i>
                </span>
            </div>
            <div class="media-body">
                <a href="#" class="h4">Welcome to OLSS </a>
                <div class="line line-dashed"></div>
                <small class="block m-t-xs">This system is build to support operating lease business of Dipo Star Finance, PT (DSF). The main features of this application are to manage of basic information of customer, supplier and vehicle also to manage data transaction such as calculation of operating lease quotation, agreement information, operating lease quotation calculation of refinance, service history inquiry, and billing payment history inquiry.</small>
            </div>
        </article>
    </div>
</div>