<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="olssEntities"
      connectionString="metadata=res://*/Models.olss.csdl|res://*/Models.olss.ssdl|res://*/Models.olss.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.1.37\SQLEXP2012;initial catalog=olss;persist security info=True;user id=sa;password=Password.1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="Dsf.Lib.TraceLevel"       value="Info"    xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Dsf.Lib.LogPrefix"        value="olss"    xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Dsf.Lib.LogRetentionDays"        value="30"    xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Dsf.Lib.LogSaveDir"       value="C:\olss\log"    xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="enviType" value="olss_qa" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="enableDevelopmentMode" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
 
    <sessionState
      mode="StateServer"
      stateConnectionString="tcpip=127.0.0.1:42424"
      timeout="120"
      xdt:Transform="SetAttributes(mode,stateConnectionString,timeout)"
      >
    </sessionState>
    

  </system.web>
</configuration>
